#conteudo {
    display: flex;
    height: 1300px;
    width: 720px;
    background-color: aquamarine;
    margin: 0 auto;
    flex-direction: column;
}

#cabecalho{
    display: flex;
    background-color: lightcoral;
    height: 250px;
    width: 600px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#fotodeperfil img{
    height: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

#textodeperfil{
    display: flex;
    flex-direction: column;
}

#chain{
    height: 15px;
    width: 15px;
    margin-top:4px;
    margin-right:2px;
}

#juntinhos{
    margin: 0;
}

#seguir{
    background-color: white;
    border-radius: 50px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 17px;
    justify-content: center;
}


#destaques{
    height: 150px;
    width: 720px;
    background-color: rgb(2, 71, 2);
    display: flex;
    justify-self:auto;
    flex-wrap: wrap;
}

#grupodestaques{
    height: 95px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 25px;
}

#destaques{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#destaques img{
    padding-right: 2px;
    padding-left: 2px;
}

#feed{
    width: 700px;
    height: 1000px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    scrollbar-width: thin;

}

#fotosfeed{
    height:250px;
    border-radius: 10%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

